# Server
PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=https://aegisexpresslog.com

# Mongo
MONGO_URI=mongodb+srv://Aegisdb_user:Databaseaegis5L@aegis.gkmr7v4.mongodb.net/?retryWrites=true&w=majority&appName=Aegis

# JWT
JWT_SECRET=change_this_in_production
JWT_EXPIRES=7d

# Redis (Upstash)
REDIS_URL=rediss://default:ARtxAAImcDExOTA4YjI3YjkxYjQ0Y2MzYTZjMjU3ODUwYWE1OTBmOHAxNzAyNQ@pretty-emu-7025.upstash.io:6379
REDIS_CACHE_TTL=3600

# Admin seed
ADMIN_SEED_TOKEN=CHANGE_ME
ADMIN_EMAIL=leophillip62@gmail.com
ADMIN_PASSWORD=AdminPass77$$

# Email Configuration (Gmail)
EMAIL_USER=aegisexpresslog@gmail.com
EMAIL_PASS=taagfsbyjsuwvusb
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
FROM_EMAIL=AEGIS-EXPRESS-LOGISTICS <aegisexpresslog@gmail.com>
FRONTEND_URL=https://aegisexpresslog.com

# Cloudinary
CLOUDINARY_CLOUD_NAME=duv5m60cj
CLOUDINARY_API_KEY=366769132986332
CLOUDINARY_API_SECRET=VOc22qHe9fnxaWv52N8pC8cLGuo